.Profile {
    background-color: var(--panel-color);


    width: calc(100% - 2 * 0.5rem);
    height: var(--profile-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;
}

.Profile[playerColor="red"] {
    background-color: var(--red-color);
}

.Profile[playerColor="black"] {
    background-color: var(--black-color);
}

.Profile-tag {
    display: flex;
    align-items: center;
}

.Profile-icon {
    height: var(--icon-size);
    width: var(--icon-size);

    background-color: white;
}

.Profile-user {
    padding: 0 0.5rem;

    line-height: 1.25rem;

    justify-content: center;
}

.Profile-username {
    text-decoration: underline;
}

.Profile-elo {
    font-size: 0.8rem;
}

.Profile-Time-Decisions {
    display: flex;
    align-items: center;
}

.Profile-Decision {
    margin-right: 1rem;
    display: contents;
}

.Profile-decision-icon {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
}

.Profile-time {
    font-size: 2rem;
    padding: 5px 10px;
    border-radius: 10px;
}

.Profile-time[status="wait"] {
    background-color: #0000004f;
}

.Profile-time[status="turn"] {
    background-color: #817c6e59;
}

.Profile-time[status="ranOut"] {
    background-color: #000000c7;
}
